#root-pane {
    -fx-background-color: #2A2A2A;
    -fx-padding: 1px;
}

#nav-button-pane {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-border-color: #3C3C3C;
    -fx-border-width: 0 1 0 0;
}

#datasource-nav-pane-button {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-image: url("images/datasource_nav_panel_btn.png");
}

#reports-nav-pane-button {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-image: url("images/reports_nav_panel_btn.png");
}

#navigation-pane {
    -fx-padding: 10 0 0 0;
    -fx-border-color: #3C3C3C;
    -fx-border-width: 0 1 0 0;
}

.section-title {
    -fx-font: bold normal 14px "Helvetica";
    -fx-text-fill: #ccc;
    -fx-padding: 0 0 0 10;
}

#objects-pane {
/*    -fx-border-color: red;
    -fx-border-width: 1;*/
    -fx-spacing: 5;
    -fx-padding: 10 10 10 10;
}

#object-search-field {
    -fx-background-color: #3C3C3C;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-prompt-text-fill: grey;
    -fx-text-fill: #ccc;
}

.object-pane {
    -fx-alignment: center-left;
    -fx-fill-height: true;
}

.object-attribute-pane {
    -fx-background-image: url("images/attribute_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left top;    
}

.object-datasource-pane {
    -fx-background-image: url("images/ds_and_tbl_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left top;    
}

.object-table-pane {
    -fx-background-image: url("images/ds_and_tbl_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left top;    
    -fx-padding: 0 10 0 10;
}

.object-unused-pane {
    -fx-background-image: url("images/unused_col_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left top;       
}

.object-metrics-pane {
    -fx-background-image: url("images/metrics_bg.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left top;
}

.object-label {
    -fx-font: bold normal 12px "Helvetica";
    -fx-text-fill: #ccc;
    -fx-text-alignment: left;
    -fx-padding: 0 0 0 10;
}

.object-table-imageview {
    -fx-image: url("images/datasource_obj_icon.png");
}

.object-table-status-imageview {
    -fx-image: url("images/active_circle_icon.png");
}

#main-tab-pane {
    -fx-background-color: #3C3C3C;
}